/* Set Border Box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General Styles */
html {
  font-size: 1em;
  line-height: $line-height;
}

body {
  background-color: $gray;
  font-family: $font-family--primary;
  hyphens: auto;
}

section {
  padding: 1em 1em 2em;
  margin-bottom: 1.5em;
}

h1,
h2 {
  font-family: $font-family--secondary;
}

h1 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*general class styles */

.btn {
  padding: 0.6em;
  background-color: $color-prim;
  color: $white;
  font-weight: $font-weight--bold;
  border: 2px solid $color-prim;
  border-radius: $br;
  cursor: pointer;
  transition: background-color 0.3s linear;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: $color-prim;
    background-color: $white;
  }
}
